.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0); 
    font-size: 3rem; 
    animation: waveAnimation 2s ease-in-out infinite;
    color: #0077be;
  }
  
  @keyframes waveAnimation {
    0% {
      transform: translate(-50%, -50%) translateY(0);
    }
    50% {
      transform: translate(-50%, -50%) translateY(-10px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0);
    }
  }
  